<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--通用样式-->
    <link rel="stylesheet" href="./css/reset.css" />
    <!--bootstrap-->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <!--jQuery-->
    <script src="./bootstrap/jQuery-2.1.1.js"></script>
    <!--bootstrap-->
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <!--vue-->
    <script src="./js/vue.js"></script>
  </head>
  <body>
    <div id="header">
      <div class="header-wrap">
        <div class="addr-wrap">
          <span class="glyphicon glyphicon-map-marker"></span>
          <span class="addr">江苏</span>
        </div>
        <div class="nav-wrap">
          <ul>
            <li>
              <a class="active" href="">你好,请登录</a>
            </li>
            <li>
              <a href="">我的订单</a>
            </li>
            <li>
              <a href="">我的京东</a>
            </li>
            <li>
              <a href="">京东会员</a>
            </li>
            <li>网站导航</li>
            <li>京东手机</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="search">
      <div class="search-wrap">
        <div class="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="电器" />
            <span
              class="input-group-addon btn btn-danger"
              style="padding: 0 20px"
            >
              <span class="glyphicon glyphicon-search"></span>
            </span>
          </div>
        </div>
        <div class="shop-cart">
          <div class="icon-wrap">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="count">0</span>
          </div>
          <div class="text">我的购物车</div>
        </div>
      </div>
    </div>
    <div id="banner">
      <div class="banner-wrap">
        <div class="carousel-wrap">
          <div
            id="carousel-example-generic"
            class="carousel slide"
            data-ride="carousel"
          >
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li
                data-target="#carousel-example-generic"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carousel-example-generic"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carousel-example-generic"
                data-slide-to="2"
              ></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./img/5a0de39c3ba32d16.jpg" alt="..." />
              </div>
              <div class="item">
                <img src="./img/6a8bfc0910be4981.jpg" alt="..." />
              </div>
              <div class="item">
                <img src="./img/6a8bfc0910be4989.jpg" alt="..." />
              </div>
            </div>

            <!-- Controls -->
            <a
              class="left carousel-control"
              href="#carousel-example-generic"
              role="button"
              data-slide="prev"
            >
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="right carousel-control"
              href="#carousel-example-generic"
              role="button"
              data-slide="next"
            >
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="seckill">
        <div class="seckill-wrap">
          <div class="title">京东秒杀</div>
          <div class="time">10:00点场距离结束</div>
          <div class="time-wrap">
            <span class="hour">{{hour}}</span>
            <span>:</span>
            <span class="minute">{{minute}}</span>
            <span>:</span>
            <span class="second">{{second}}</span>
          </div>
        </div>
        <div class="carousel-wrap">
          <div
            id="carousel-seckill"
            class="carousel slide"
            data-ride="carousel"
          >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="good-wrap">
                  <img src="./img/g1.webp" alt="" />
                  <p>11111</p>
                </div>
                <div class="good-wrap">
                  <img src="./img/g1.webp" alt="" />
                  <p>11111</p>
                </div>
                <div class="good-wrap">
                  <img src="./img/g1.webp" alt="" />
                  <p>11111</p>
                </div>
              </div>
              <div class="item">
                <div class="good-wrap">
                  <img src="./img/g2.webp" alt="" />
                  <p>22222</p>
                </div>
                <div class="good-wrap">
                  <img src="./img/g2.webp" alt="" />
                  <p>22222</p>
                </div>
                <div class="good-wrap">
                  <img src="./img/g2.webp" alt="" />
                  <p>22222</p>
                </div>
              </div>
              <div class="item">
                <div class="good-wrap">
                  <img src="./img/g3.webp" alt="" />
                  <p>33333</p>
                </div>
                <div class="good-wrap">
                  <img src="./img/g3.webp" alt="" />
                  <p>33333</p>
                </div>
                <div class="good-wrap">
                  <img src="./img/g3.webp" alt="" />
                  <p>33333</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a
              class="left carousel-control"
              href="#carousel-seckill"
              role="button"
              data-slide="prev"
            >
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="right carousel-control"
              href="#carousel-seckill"
              role="button"
              data-slide="next"
            >
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="brand-wrap">
          <div class="img-wrap">
            <img src="./imgs/o.webp" alt="" />
          </div>
          <div class="link">
            <a href="">品类秒杀</a>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div id="app">
        <div class="good-list-wrap">
          <div
            class="good-wrap"
            v-for="good in goods"
            :id="good.id"
            @mouseenter="_btnShow(good.id)"
            @mouseleave="_btnHide(good.id)"
          >
            <div class="img-wrap">
              <img :src="good.src" alt="" />
            </div>
            <div class="price-wrap">
              <span>￥</span><span>{{good.price}}</span><span>.00</span>
            </div>
            <div class="title-wrap">
              <p><span>京东电脑</span>{{good.title}}</p>
            </div>
            <div class="rating-wrap">
              <p>{{good.rating}}万+<span>条评价</span></p>
            </div>
            <div class="shop-wrap">
              <p>{{good.shop}}</p>
            </div>
            <div class="self-wrap">
              <span v-if="good.self">自营</span>
            </div>
            <div class="btn" v-show="good.btnShow">
              <span>找相似</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
        goods: [],
      },
      created: function () {
        // 加载数据 模拟测试数据
        for (let i = 0; i < 12; i++) {
          let good = {
            id: i + 1,
            src: "./img/5a0de39c3ba32d16.jpg",
            title:
              "戴尔dell成就3690升级版英特尔酷睿i3商用台式机电脑主机(i3-10105 8G 1T 三年",
            price: 3139.0,
            rating: 5,
            shop: "联想京东自营旗舰店",
            self: true,
            btnShow: false,
          };
          if (i % 2 === 0) {
            good.self = false;
          }
          this.goods.push(good);
        }
      },
      methods: {
        _btnShow: function (id) {
          for (let i = 0; i < this.goods.length; i++) {
            if (this.goods[i].id === id) {
              this.goods[i].btnShow = true;
            }
          }
        },
        _btnHide: function (id) {
          for (let i = 0; i < this.goods.length; i++) {
            if (this.goods[i].id === id) {
              this.goods[i].btnShow = false;
            }
          }
        },
      },
    });

    new Vue({
      el: "#banner",
      data: {
        hour: 0,
        minute: 0,
        second: 0,
      },
      created: function () {
        let now = new Date();
        this.hour = now.getHours() < 10 ? "0" + now.getHours() : now.getHours();
        this.minute =
          now.getMinutes() < 10 ? "0" + now.getMinutes() : now.getMinutes();
        this.second =
          now.getSeconds() < 10 ? "0" + now.getSeconds() : now.getSeconds();
        let this_ = this;
        setInterval(function () {
          now = new Date();
          this_.hour =
            now.getHours() < 10 ? "0" + now.getHours() : now.getHours();
          this_.minute =
            now.getMinutes() < 10 ? "0" + now.getMinutes() : now.getMinutes();
          this_.second =
            now.getSeconds() < 10 ? "0" + now.getSeconds() : now.getSeconds();
        }, 1000);
      },
    });
  </script>
</html>
